body {
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#root {
    position: relative;
    height: 98vh;
}
#filter-bar {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.input-typo-tolerance {
    display: flex;
    flex-wrap: wrap;
}
.typo-tolerance {
    margin: 7px;
}
#input-id {
    padding: 7px;
    border-radius: 4px;
}
.result-list {
    position: absolute;
    bottom: 0;
    z-index: 999;
    background-color: white;
    max-height: 100vh;
    overflow: auto;
    width: 100vw;
    background-color: transparent;
}
.marker-church-div-icon {
    font-size: 25px;
    font-weight: bold;
}
.marker-church-div-icon.orthodox {
    color: red;
}
.marker-church-div-icon.сatholic {
    color: blue;
}


.marker-church-div-icon.group .сatholic:last-child {
    color: blue;
    border-right: 2px solid blue;
    border-radius: 10px;
}
.marker-church-div-icon.group .сatholic:only-child {
    border: 2px solid blue;
    border-radius: 10px;
}

.marker-church-div-icon.group .orthodox:first-child {
    color: red;
    border-left: 2px solid red;
    border-radius: 10px;
}
.marker-church-div-icon.group .orthodox:only-child {
    border: 2px solid red;
    border-radius: 10px;
}

.marker-div-icon b {
    background-color: aliceblue;
    width: max-content;
    position: absolute;
    border-radius: 0 5px 5px 5px;
    padding: 0 2px;
    border: 1px solid green;
}
.uezd-owner, .church-type {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.select-filter {
    flex-grow: 1;
    min-width: 15rem;
}
.panel-arrow-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
}

.tab-list-of-types {
    flex-wrap: nowrap !important;
    background-color: transparent;
}
.breadcrumbs-footer > span {
    white-space: nowrap;
}

.tab-list-of-types.active {
    background-color: #ffffff;
}
.table.table-striped.active {
    margin-bottom: 0;
}
.all-item {
    display: flex;
}
.list-group {
    width: fit-content;
}

.famyly-item-card > header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.famyly-item-card {
    background-color: white;
}
.famyly-item-card:hover {
    cursor: pointer;
}
.famyly-item-card:active {
    cursor: move;
}
.head-family {
    cursor: pointer;
}
.laoding-box {
    padding: 10px;
}
/* расширить Popup маркера */
.leaflet-popup-content {
    width: auto !important;
}
.close-button-card {
    margin: 12px;
}
.card-draggable-body .close-button-card {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}
.text-end.card-header-item.card-header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0;
    max-height: 20px;
}
.card-header-item .nav-item {
    border-bottom: 0;
}
.card-header-item .card-list-of-types .nav-link {
    max-height: 20px;
    display: inline;
    border: none;
    padding: 0 var(--bs-nav-link-padding-x);
}
.famyly-item-card.draggable-card-item {
    z-index: 1056;
    position: absolute;
}
.nav.nav-tabs.card-list-of-types {
    border-bottom: 0;
}
.card-list-row {
    white-space: nowrap;
}

.family-tooltip {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.family-tooltip-hovered .fade.show.tooltip.bs-tooltip-end .tooltip-inner {
    max-width: fit-content;
}
.scroll-to-top-button {
    position: fixed;
    bottom: 2vh;
    right: 3vw;
    display: block;
    cursor: pointer;
}
.scroll-to-top-button svg {
    border-radius: 50%;
    background-color: #ffffff;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid gray;
}
.item-title-hover-info {
    border-bottom: 1px solid;
    cursor: auto;
}
#map > div.leaflet-control-container > div.leaflet-top.leaflet-right {
    z-index: 999!important;
}
.leaflet-control-layers-toggle {
    background-image: url(/map-icon.svg) !important;
    background-size: 30px 30px !important;
    width: 30px !important;
    height: 30px !important;
}
.draggable-card-item.resizable-modal-content {
    border: 2px solid;
    resize: both;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    min-height: 140px;
    min-width: 200px;
}
ol.card-draggable-body {
    overflow-y: auto;
    height: 100%;
    align-content: center;
}
.form-check-label {
    font-size: 0.9rem;
}
body.loading #map,
body.loading #filter-bar,
body.loading #input-id {
    cursor: wait !important;
}
.white-space-nowrap {
    white-space: nowrap;
}
.justify-content-space-between {
    display: flex;
    justify-content: space-between;
}
.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}
.indicate-button.badge.bg-secondary {
    padding: 5px;
    font-size: 10px;
    color: red;
    background-color: #f4f4f4 !important;
    cursor: pointer;
}

#info-panel-label-button {
    display: flex;
    align-items: center
}
#info-panel-label-button > .badge.text-dark.bg-warning {
    cursor: pointer;
}
.np-cards-result {
    display: flex;
    flex-wrap: wrap;
}
.card-np-item {
    min-width: 10rem;
    min-height: 1rem;
    flex-grow: 1;
}
.white-space-nowrap {
    white-space: nowrap;
}

@media (max-width: 768px) {
    .panel-arrow-button {
        display: none;
    }
    .tab-list-of-types {
        display: flex;
        justify-content: space-between;
    }
}
.input-with-cross {
    display: flex;
    position: relative;
}
.input-typo-tolerance .select__clear-indicator path {
    fill: currentColor;
}
.input-typo-tolerance .select__clear-indicator {
    position: absolute;
    right: 0;
}
.spinner-border {
    position: absolute;
    top: 50vh;
    left: 50vw;
    z-index: 401;
}
.modal-content .modal-footer {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.marker-div-icon b {
    background-color: aliceblue;
    width: max-content;
    position: absolute;
    border-radius: 0 5px 5px 5px;
    padding: 0 2px;
    border: 1px solid green;
}
.no-metrics path {
    fill: black;
    border: 1px solid black;
}
