@import url(https://themes.googleusercontent.com/fonts/css?kit=wk3hNLXfP53nOLYNJrz0bQ);

.lst-kix_xywjaw6mvl95-6 > li:before {
    content: "\0025cf   "
}

.lst-kix_xywjaw6mvl95-4 > li:before {
    content: "\0025cb   "
}

ul.lst-kix_xywjaw6mvl95-7 {
    list-style-type: none
}

.lst-kix_xywjaw6mvl95-8 > li:before {
    content: "\0025a0   "
}

ul.lst-kix_xywjaw6mvl95-6 {
    list-style-type: none
}

.lst-kix_xywjaw6mvl95-3 > li:before {
    content: "\0025cf   "
}

.lst-kix_xywjaw6mvl95-7 > li:before {
    content: "\0025cb   "
}

ul.lst-kix_xywjaw6mvl95-8 {
    list-style-type: none
}

ul.lst-kix_mibz9cc525fq-3 {
    list-style-type: none
}

ul.lst-kix_xywjaw6mvl95-3 {
    list-style-type: none
}

ul.lst-kix_mibz9cc525fq-4 {
    list-style-type: none
}

ul.lst-kix_xywjaw6mvl95-2 {
    list-style-type: none
}

ul.lst-kix_mibz9cc525fq-5 {
    list-style-type: none
}

ul.lst-kix_xywjaw6mvl95-5 {
    list-style-type: none
}

ul.lst-kix_mibz9cc525fq-6 {
    list-style-type: none
}

ul.lst-kix_xywjaw6mvl95-4 {
    list-style-type: none
}

ul.lst-kix_mibz9cc525fq-7 {
    list-style-type: none
}

ul.lst-kix_mibz9cc525fq-8 {
    list-style-type: none
}

ul.lst-kix_xywjaw6mvl95-1 {
    list-style-type: none
}

.lst-kix_xywjaw6mvl95-5 > li:before {
    content: "\0025a0   "
}

ul.lst-kix_xywjaw6mvl95-0 {
    list-style-type: none
}

.lst-kix_mibz9cc525fq-1 > li:before {
    content: "\0025cb   "
}

.lst-kix_mibz9cc525fq-0 > li:before {
    content: "\0025cf   "
}

.lst-kix_mibz9cc525fq-8 > li:before {
    content: "\0025a0   "
}

.lst-kix_mibz9cc525fq-7 > li:before {
    content: "\0025cb   "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_mibz9cc525fq-2 > li:before {
    content: "\0025a0   "
}

.lst-kix_mibz9cc525fq-3 > li:before {
    content: "\0025cf   "
}

.lst-kix_xywjaw6mvl95-0 > li:before {
    content: "\0025cf   "
}

ul.lst-kix_mibz9cc525fq-0 {
    list-style-type: none
}

ul.lst-kix_mibz9cc525fq-1 {
    list-style-type: none
}

ul.lst-kix_mibz9cc525fq-2 {
    list-style-type: none
}

.lst-kix_mibz9cc525fq-5 > li:before {
    content: "\0025a0   "
}

.lst-kix_xywjaw6mvl95-2 > li:before {
    content: "\0025a0   "
}

.lst-kix_mibz9cc525fq-4 > li:before {
    content: "\0025cb   "
}

.lst-kix_mibz9cc525fq-6 > li:before {
    content: "\0025cf   "
}

.lst-kix_xywjaw6mvl95-1 > li:before {
    content: "\0025cb   "
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c8 {
    margin-left: 63pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5 {
    background-color: #ffffff;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.4;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c11 {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-size: 13.5pt;
    font-family: "Lora"
}

.c15 {
    color: #111111;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 29.5pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c1 {
    background-color: #ffffff;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c7 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c6 {
    color: #a62425;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13.5pt;
    font-family: "Lora";
    font-style: normal
}

.c0 {
    color: #333333;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13.5pt;
    font-family: "Lora";
    font-style: normal
}

.c9 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c10 {
    font-size: 13.5pt;
    font-family: "Lora";
    color: #333333;
    font-weight: 400
}

.c12 {
    background-color: #ffffff;
    max-width: 98%;
    padding: 4%;
}

.c3 {
    padding: 0;
    margin: 0
}

.c4 {
    color: inherit;
    text-decoration: inherit
}

.c2 {
    height: 11pt
}

.c13 {
    background-color: #ffffff
}

.c14 {
    text-indent: 36pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}
