

.card > .card-title-section {
    margin: 10px 16px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.card-title-section h5 {
    min-width: 62px;
    max-width: 65px;
    font-size: 1.25rem;
}
.card-title-section-info {
    padding: 0 7px;
}

.progress-line-section {
    position: relative;
    min-height: 10px;
    max-height: 10px;
    height: 10px;
}

.card > .card-footer-section {
    padding: 0 1rem 0.5rem 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.card-footer-section a {
    width: 100%;
}

.card {
    width: 94vw;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    animation-delay: 100ms;
    animation: fadeInUp .5s ease-out forwards;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.175);
    margin: 0.2rem;
}
@media (min-width: 768px) {
    .card {
        width: 30vw;
        min-height: 10rem;
    }
}

a.fond-link-src {
    position: relative;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    white-space: nowrap;
}
