.card > .card-title-section {
    margin: 10px 16px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.card-title-section h5 {
    min-width: 62px;
    max-width: 65px;
}
.card-title-section-info {
    padding: 0 7px;
}

.progress-line-section {
    position: relative;
    min-height: 10px;
    max-height: 10px;
    height: 10px;
}

.card > .card-footer-section {
    padding: 0 1rem 0.5rem 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.card-footer-section a {
    width: 100%;
}

.card {
    width: 94vw;
}
@media (min-width: 768px) {
    .card {
        width: 30vw;
        min-height: 10rem;
        margin: 0.2rem;
    }
}

a.fond-link-src {
    position: relative;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    white-space: nowrap;
}
